@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');
header{
  background-color: rgb(96, 139, 193);
}
footer{
  background-color: rgb(56, 75, 112);
}

body{
 background-color:rgb(203, 220, 235);
}

/*Estilo para el titulo principal */
#ManosALaMasa{
text-align: center;
font-family: "Montserrat", sans-serif;
letter-spacing: 1px;


}

#searchInput { 
  background-color: rgb(243, 243, 224);
}

/* styles para el header */
#mensaje-error {
  color: red;
  display: none;
}

/* Estilo para el contenedor de recetas */
.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Estilo para cada receta */
.recipeList article {
  width: 30%;
  padding: 10px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
  font-family: "Montserrat";
}

/* Estilo para las imágenes */
.recipeList img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.recipeSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipeSearch article {
  width: 30%;
  padding: 10px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.recipeSearch img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  
}
