@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: rgb(96, 139, 193);
  background-image: url(../img/1000_F_419155931_5ls7XLdQcyP0etGr5MjhgJHId4uYscbn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 12%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
footer {
  background-color: rgb(56, 112, 83);
}

body {
  background-color: rgb(244, 242, 230);
}

/*Estilo para el titulo principal */

#manosCaja {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 40px;
}

#recetass {
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.VerMasIndex {
  text-decoration: none;
  color: blue;
}
.VerMasIndex:hover {
  text-decoration: underline;
  font-weight: bold;
}

#footerForms {
  margin-top: 27%;
}

/* Clase para logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 50px;
}
.logo {
  height: 12%;
  width: 12%;
  border-radius: 60px;
}

ul li a {
  list-style-type: none;
  color: white;
}

/*Estilo para la caja del Buscar en el header */
.cajaBuscar {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
  padding-top: 3%;
}

/* estilo para el boton buscar del header */
.botonbuscar {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 6px;
}
.botonbuscar:hover {
  background-color: #e64a19;
}

.quequierescomer {
  padding: 10px;
}

.cajaBuscar .quequierescomer input {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

/* estilo para que el header sea una flexbox y colores etc */

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.nav-lista {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.headercolor {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(56, 112, 83);
  padding: 15px;
  border-radius: 8px;
  border: solid 1px;
  text-align: center;
}
.headercolor:hover {
  background-color: rgb(44, 85, 64);
  color: white;
  font-weight: bold;
}

/* styles para el header */
#mensaje-error,
#mensaje-error2,
#mensaje-error3,
#mensaje-error4,
#mensaje-error5,
.errorCargarMas {
  color: red;
  display: none;
  font-weight: bold;
}
.cargarMas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* para las recetas en el index */
.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 10px;
}

/*  para cada receta en el index */
.recipeList article {
  width: 45%;
  padding: 10px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
  font-family: "Montserrat";
}

/* estilo para las imágenes */
.recipeList img {
  width: 50%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 5%;
}

.recipeSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipeSearch article {
  width: 30%;
  padding: 10px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.recipeSearch img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

h4 {
  text-align: center;
  color: whitesmoke;
}

/* Estilos para las recetas en Ver Mas */
.imagenReceta {
  display: flex;
  justify-content: center;
}

/* Estilo para la lista de categorias en el receta.js, asi no estan azul */
.categorias {
  color: black;
}

/* Estilo para los forms de registro y login */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.formRegistro {
  background-color: transparent;
  padding: 20px 20px;
  border-radius: 7px;
  width: 100%;
  max-width: 35%;
  box-sizing: border-box;
}

.formRegistro h2 {
  margin-bottom: 20px;
  color: #333333; /* Texto oscuro */
  text-align: center;
}

/* etiquetas */
.formRegistro label {
  display: block;
  margin-bottom: 8px;
  color: #555555; /* Texto más tenue */
}

#email,
#password,
#passwordAgain {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #141313;
}

.formRegistro a {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #007bff;
  text-decoration: none;
}

/* boton */
.formRegistro button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0px;
  background-color: #06a02a;
  color: white;
  border-radius: 4px;
}

.formRegistro button:hover {
  background-color: #91d9a1;
}

.categoriasVerMas {
  color: black;
}

/* estilos Categorias */
.tagList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0;
}

.categoriaArticle {
  background-color: white;
  padding: 20px;
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoriaArticle a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.categoriaArticleClick {
  text-decoration: none;
  color: black;
}

.categoriaArticle:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Clases para las recetas DENTRO de categorias */

.containerCategorias {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
}

/* para las recetas en categorias */
.categoriaS {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 10px;
}

/*  para cada receta en categoria */
.categoriaS article {
  width: 45%;
  padding: 10px;
  margin: 8px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
  font-family: "Montserrat";
}

/* estilo para las imágenes */
.categoriaS img {
  width: 50%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 5%;
}

/* El responsive para las paginas */
@media (max-width: 800px) {
  .containerCategorias {
    flex-direction: column;
  }

  .cajaCategorias {
    width: 90%;
    margin: 10px auto;
  }

  .logo {
    width: 35%;
    height: auto;
  }

  .formRegistro {
    max-width: 90%;
  }

  .recipeList article {
    width: 90%;
  }

  .recipeSearch article {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .cajaCategorias {
    width: 100%;
  }

  .logo {
    width: 35%;
    height: auto;
  }

  /* Estos son para que ocupen todo el ancho de la pagina, el form, la lista de recetas y cuando buscas */
  .recipeList article {
    width: 100%;
  }

  .recipeSearch article {
    width: 100%;
  }

  .formRegistro {
    max-width: 90%;
  }

  /* Agregar espacio en el header para los links */
  .nav-lista {
    flex-direction: column;
    align-items: center;
  }

  .nav-lista li {
    margin: 20px;
  }
}
